@{
    ViewData["Title"] = "Stocks";
    var transactions = ViewData["transactions"] as IEnumerable<StockTransaction>;
}
<ul class="nav nav-tabs nav-justified">
    <li>
        <a asp-controller="Stocks" asp-action="Index">My Stocks</a>
    </li>
    <li class="active">
        <a>History</a>
    </li>
    <li>
        <a asp-controller="Stocks" asp-action="SearchStocks">Search</a>
    </li>
</ul>

<div class="row">
    <div class="col-md-10"> <!-- because why would putting the class on the table work? -->
        <table id="historyTable" class="table">
            <thead>
                <tr>
                    <th>Stock</th>
                    <th>Date</th>
                    <th>Price per Share</th>
                    <th>Num Shares</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var t in transactions)
                {
                    <tr>
                        <td>@t.StockTicker</td>
                        <td>@t.TransactionDate</td>
                        <td>@t.PricePerShare</td>
                        <td>@t.NumShares</td>
                        <td>@t.TotalPrice</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div id="historyActions" class="btn-group btn-group-vertical col-md-2">
        <!-- TODO: horizontal alignment on tall, skinny screens -->
        <button class="btn btn-default" data-toggle="modal" data-target="#load-history-modal">Import</button>
        <a asp-controller="Stocks" asp-action="HistoryCvs" class="btn btn-default">Save</a>
        <form asp-controller="Stocks" asp-action="ClearHistory" method="post">
            <input type="submit" class="btn btn-danger"  value="Clear History" />
        </form>
    </div>
</div>

<div id="load-history-modal" class="modal fade">
    <form asp-controller="Stocks" asp-action="LoadHistory" method="post" enctype="multipart/form-data" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Import History</h4>
            </div>
            <div class="modal-body">
                <label for="importFile">File: </label>
                <input type="file" name="file" id="importFile" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" value="Import" />
            </div>
        </div>
    </form>
</div><!-- /.modal -->
