@{
    ViewData["Title"] = "Stocks";
    var transactions = ViewData["transactions"] as IEnumerable<KeyValuePair<string, StockTransaction>>;
}
<ul class="nav nav-tabs nav-justified">
    <li>
        <a asp-controller="Stocks" asp-action="Index">My Stocks</a>
    </li>
    <li class="active">
        <a>History</a>
    </li>
    <li>
        <a asp-controller="Stocks" asp-action="SearchStocks">Search</a>
    </li>
</ul>

<div class="row">
    <div class="col-md-10"> <!-- because why would putting the class on the table work? -->
        <table id="historyTable" class="table">
            <thead>
                <tr>
                    <th>Stock</th>
                    <th>Date</th>
                    <th>Price per Share</th>
                    <th>Num Shares</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var t in transactions)
                {
                    <tr>
                        <td>@t.Key</td>
                        <td>@t.Value.TransactionDate</td>
                        <td>@t.Value.PricePerShare</td>
                        <td>@t.Value.NumShares</td>
                        <td>@t.Value.TotalPrice</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div id="historyActions" class="btn-group btn-group-vertical col-md-2">
        <!-- TODO: horizontal alignment on tall, skinny screens -->
        <form asp-controller="Stocks" asp-action="LoadHistory" method="post">
            <input type="file" name="file"  />
            <input type="submit" class="btn btn-default" value="Import" />
        </form>
        <a asp-controller="Stocks" asp-action="HistoryCvs" class="btn btn-default">Save</a>
        <form asp-controller="Stocks" asp-action="ClearHistory" method="post">
            <input type="submit" class="btn btn-danger"  value="Clear History" />
        </form>
    </div>
</div>
